### UniversityApplication Exercise ###
UniversityApplication/.idea/
UniversityApplication/.gitignore

### FootballTournament Exercise ###
FootballTournament/.idea/
FootballTournament/.gitignore

### PrimitivesArraysCasting Exercise ###
PrimitivesArraysCasting/.idea/
PrimitivesArraysCasting/.gitignore

### Objects Exercise ###
Objects/.idea/
Objects/.gitignore

### ControlFlow Exercise ###
ControlFlow/.idea/
ControlFlow/.gitignore